<!-- this launch also records all topics to a rosbag file -->
<launch>
	<!-- launch rosbag to record all topics -->
	<node name="rosbag" pkg="rosbag" type="rosbag" args="-a" /> 
	
	<!-- start kinect server -->
	<include file="$(find freenect_launch)/launch/freenect.launch" />
	
	<!-- launch vision code -->
	<node name="blob_detect" pkg="blob_detect" type="blob_detect" />
	
	<!-- rosserial_arduino -->
	<node name="ultrassom" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0"   />
	
	<node name="propulsores" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM1" />
	
	
	<!-- estrategia -->
	<node name="estrategia" pkg="estrategia" type="strategy" />

	<!-- controle -->
	<node name="controle" pkg="controle" type="control" />
</launch>

